<p>
    Użytkownik <span style="font-weight: bold;">{{ name }}</span> zostawił wiadomość na Twojej stronie internetowej <a href="{{ url('start') }}">marceen.pl</a>
</p>

<p>Dane formularza:</p>
<div>Imię: <span style="font-weight: bold;">{{ name }}</span></div>
<div>Telefon: <span style="font-weight: bold;">{{ phone }}</span></div>
<div>Wiadomość:</div>
<p style="font-style: italic;">{{ message }}</p>