<p>
    Użytkownik <span style="font-weight: bold;">{{ name }}</span> zostawił wiadomość na Twojej stronie internetowej <a href="{{ url('start') }}">{{ site_name }}</a>
</p>

<div style="font-weight: bold; margin-bottom: 10px;">Dane formularza:</div>
<div>Imię: <span style="font-weight: bold;">{{ name }}</span></div>
<div>Telefon: <span style="font-weight: bold;">{{ phone }}</span></div>
<div>Wiadomość:</div>
<div style="margin-top: 10px; margin-bottom: 20px">{{ message }}</div>
<div>Data i czas dodania wiadomości do systemu: {{ dodata.format('Y-m-d H:i:s') }}</div>
<div style="margin-top: 10px;">Ip: {{ ip }}</div>