<p>
    Użytkownik {{ name }} zostawił wiadomość na Twojej stronie internetowej <a href="{{ url('start') }}">marceen.pl</a>
</p>

<div>Dane z formularza:</div>
<div>Imię: {{ name }}</div>
<div>Telefon: {{ phone }}</div>
<div>Wiadomość:</div>
<div>{{ message }}</div>