<p>
    Użytkownik <span style="font-weight: bold;">{{ name }}</span> zostawił wiadomość na Twojej stronie internetowej <a href="{{ url('start') }}">marceen.pl</a>
</p>

<div style="font-weight: bold; margin-bottom: 10px;">Dane formularza:</div>
<div>Imię: <span style="font-weight: bold;">{{ name }}</span></div>
<div>Telefon: <span style="font-weight: bold;">{{ phone }}</span></div>
<div>Wiadomość:</div>
<div style="font-style: italic; margin-top: 5px;">{{ message }}</div>